name: thesis

services:
  db:
    image: postgres:17
    container_name: thesis-db
    env_file:
      - ../.env
    # Εξωτερική πόρτα 5433 -> εσωτερική 5432
    # ώστε να μην συγκρουστεί με τυχόν local Postgres στο 5432
    ports:
      - "5433:5432"
    volumes:
      # Μόνιμος χώρος για τα δεδομένα της βάσης
      - db_data:/var/lib/postgresql/data

  scraper:
    build: ../web_scraper_files
    container_name: thesis-scraper
    depends_on:
      - db
    env_file:                                   # Μέσα στο docker network ο host της βάσης είναι db
      - ../.env 
    # Προαιρετικό για dev: να βλέπει live τον κώδικα του host
    volumes:
      - ../web_scraper_files:/app

  server:
    build:
      context: ../server_files     # φάκελος όπου είναι το Dockerfile του server
      dockerfile: Dockerfile
    container_name: thesis-server
    depends_on:
      - db
    env_file:
      - ../.env 
    ports:
      - "3000:3000"   # host:container → θα τον βλέπεις στο http://localhost:3000    

volumes:
  db_data: